header { 
    text-align: center; 
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.main-logo {
    max-width: 250px; /* Define uma largura máxima para o logo */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 20px; /* Adiciona um espaço abaixo do logo */
    display: block; /* Garante que 'margin: auto' funcione para centralizar */
    margin-left: auto;
    margin-right: auto;
}