.stats-list { 
    list-style: none; 
    padding: 0; 
    text-align: left; 
    max-width: 300px; 
    margin: 10px auto; 
}

.stats-list li { 
    border-bottom: 1px dashed #eee; 
    padding: 5px 0; 
    text-transform: capitalize;
}